body {
    background-color: #ffffff;
    font-family: sans-serif, Helvetica,Arial ;
    box-sizing: border-box;
}

h1 {
    color: #ff0000;
}

h2 {
    color: rgb(0, 132, 255);
    font-size: 18px;
    margin-top: 30px;
}

div {
    margin: 8px 20px auto auto;
}

 li {
    margin: 10px auto;
}

ul {
    color: rgb(255, 102, 0);
    list-style-type :circle;
    margin-bottom: 30px ;
}

ol {
    margin-bottom: 30px;
}

em {
    color: rgb(251, 0, 255);
}